[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/pi/mcpi/minecraft-pi
Terminal=false
Name=Minecraft Pi
Comment=Minecraft Pi 
Categories=Game;
