[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sh -c "\$HOME/scratch2mcpi/bullseye/run_scratch2mcpi.py"
Icon=scratch
Terminal=false
Name=Scratch2MCPI
Comment=Control Minecraft Pi from Scratch
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
